body {
    margin: 0;
    background: black;
    color: white;
    font-family: sans-serif;
    overflow-x: hidden;
}

#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.8s ease;
}

.btn-explore {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 15px 30px;
    cursor: pointer;
    letter-spacing: 2px;
}

/* Konten yang disembunyikan di awal */
.hidden { display: none; opacity: 0; }

.destination-card {
    padding: 50px 20px;
    opacity: 0;
    transform: translateY(30px);
    transition: 1s ease;
}

/* Animasi muncul saat JS bekerja */
.destination-card.muncul {
    opacity: 1;
    transform: translateY(0);
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.photo-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
